.login {
  display: flex;
}

.login-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100vh;
 /*  background-color: teal; */
 background-color: #0b1f34;
}

.login-left-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.login-left-content h1 {
   font-size: 3rem;
  color: #00d4ff;
}

.login-left-content h4 {
  font-size: 1.5rem;
  /* color: #fff; */
  color: #ed7947;
}

.logo {
  align-self: center;
  width: 180px;
  height: 250px;
}

.form-login {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 100vh;
/*   border-left: 1px solid #ddd; */
}

.form-login-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  height: 90%;
}

fieldset {
  border: none;
}

.form-login-input {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.form-login-input h1 {
  font: 2rem Poppins !important;
  text-align: center;
}

#registry-login {
  background-image: url("../img/user.svg");
}

#password-login {
  background-image: url("../img/password.svg");
}

#registry-login,
#password-login {
  background-repeat: no-repeat;
  height: 2.3rem;
  padding-left: 2.5rem;
  background-size: 2rem;
}

.form-login-input fieldset input[type='text'],
.form-login-input fieldset input[type='password'] {
  width: 100%;
  border: none;
  border-bottom: 0.1rem solid #000;
  margin-bottom: 2.5rem;
  margin-top: 0.5rem;
  outline: none;
  font-size: medium;
}

.btn-info {
  width: 100%;
  padding: 0.7rem !important;
  background-color: teal !important;
  color: #fff;
  font-weight: bolder !important;
  font-size: 1.2rem !important;
}

.form-login-nav {
  text-align: end;
/*   font-size: 1.3rem; */
}

.form-login-nav a {
  text-decoration: none !important;
  color: #000;
  font-size: 1rem;
}
.form-login-nav a:first-child {
  padding: 0.5rem;
  margin-right: -4px;
}
